body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color:blue;
    cursor: pointer;
}

#E5_lu{
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.botonMenu{
  width: 20vw;
  height: 60px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 50% 0 0;
  border: 1px solid rgb(104, 104, 104);
  font-size: 1.25em;
  cursor: pointer;
}
.botonMenu:hover{
  scale: 1.25;
  border: none;
  
}

#contenido{
  height: 600px;
  width: 100%;
  background: grey;
}
img{
  width: 600px;
  height: 300px;
}

.plantilla{
  display: flex;
  flex-direction: row;
  margin: 10px grey;
  padding: 50px;
  background: grey;
}

#EJ5_titulo{
background: gray;
color: black;
font-size: 3em;
text-align: center;
text-anchor: 2em;
}

#ejercicio_6{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.form{
  margin: 100px;
  border:3px solid #ddd;
  padding:10px 25px 25px 25px;
}

.containerRow{
  display: flex;
  flex-direction: row;
}


.containerCol{
  display: flex;
  flex-direction: column;
}