body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color:blue;
    cursor: pointer;
}

#E5_lu{
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.botonMenu{
  width: 20vw;
  height: 60px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 50% 0 0;
  border: 1px solid rgb(104, 104, 104);
  font-size: 1.25em;
  cursor: pointer;
}
.botonMenu:hover{
  scale: 1.25;
  border: none;
}

#contenido{
  height: 600px;
  width: 100%;
  background: grey;
}
img{
  width: 600px;
  height: 300px;
}

.plantilla{
  display: flex;
  flex-direction: row;
  margin: 10px grey;
  padding: 50px;
  background: grey;
}

#EJ5_titulo{
background: gray;
color: black;
font-size: 3em;
text-align: center;
text-anchor: 2em;
}
